[gerrit]
        basePath = git
        canonicalWebUrl = <%= canonical_web_url %>
[database]
        type = mysql
        database = ReviewDB
[auth]
        type = HTTP
	emailFormat = <%= email_format %>
[sendemail]
        smtpServer = localhost
[container]
        user = gerrit
        javaHome = /usr/lib/jvm/java-1.7.0-openjdk-1.7.0.55.x86_64/jre
[sshd]
        listenAddress = <%= sshd_listen_address %>
[httpd]
        listenUrl = <%= httpd_listen_url %>
[cache]
        directory = cache
